<main>
    <div class="container text-center text-white w-50">
        <h1 class="display-1">About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, quis error porro vitae repellat laudantium
            corrupti sequi? Officia minus voluptatem, atque repellendus ipsum exercitationem tempora veritatis cumque
            nemo inventore culpa.</p>
    </div>
</main>