<main>
    <div class="container text-center text-white w-50">
        <h1 class="display-1">About</h1>
        <p>Educational multi-page application made with express, handlebars and mongoDB.
        </p>
    </div>
</main>