<main>
    <div class="container text-white">
        <h1 class="display-1 text-center  mb-5">Browse</h1>
        {{#if allItems}}
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {{#each allItems}}
            <div class="col">
                <div class="card shadow" style="background-color: #212529;">
                    <img src={{imageUrl}} class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">{{description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
            {{else}}
            <h3 class="display-1 text-center mb-5">Nothing to show...</h3>
            {{/if}}
        </div>
    </div>
</main>