<main>
    <div class="container text-center text-white w-50">
        <h1 class="display-1 mb-5">Login</h1>
        <form action="/auth/login" method="POST">
            <div class="mb-3">
                <label for="usernameInput" class="form-label">Username</label>
                <input type="username" id="usernameInput" class="form-control text-white"
                    placeholder="xXxDarkMasterxXx69" name="username" style="background-color:#212529">
            </div>
            <div class="mb-3">
                <label for="passwordInput" class="form-label">Password</label>
                <input type="password" id="passwordInput" class="form-control text-white" placeholder="1234567890"
                    name="password" style="background-color:#212529">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</main>