<main>
    <div class="container text-center text-white w-50">
        <h1 class="display-1 mb-5">Register</h1>
        <form action="/auth/register" method="POST">
            <div class="mb-3">
                <label for="usernameInput" class="form-label">Username</label>
                <input type="username" class="form-control text-white" id="usernameInput"
                    placeholder="xXxDarkMasterxXx69" name="username" style="background-color:#212529">
            </div>
            <div class="mb-3">
                <label for="passwordInput" class="form-label">Password</label>
                <input type="password" class="form-control text-white" id="passwordInput" placeholder="1234567890"
                    name="password" style="background-color:#212529">
            </div>
            <div class="mb-3">
                <label for="rePasswordInput" class="form-label">Repeat Password</label>
                <input type="password" class="form-control text-white" id="rePasswordInput" placeholder="1234567890"
                    name="rePassword" style="background-color:#212529">
            </div>
            <button type="submit" class="btn btn-primary">Register!</button>
        </form>
    </div>
</main>